.list-group-item {
  padding: 0.25rem 0.75rem;
}

.buttons-block {
  margin: 5px;
}

.buttons-block-btn {
  margin-right: 5px;
}

.done {
  text-decoration: line-through;
}

.important {
  color: steelblue;
  font-weight: bold;
}
