.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.header__todo-info {
  font-weight: 600;
  font-size: 1.2rem;
}

.header__title {
  margin: 0;
}

.count {
  color: #ccc;
}

.todo-info__count {
  display: inline-block;
}

.todo-info__count:last-of-type {
  margin-left: 10px;
}
